<section class="holder">
  <div class="holder_wrap">
    <div class="holder_title">
      <h2 class="text">Решения</h2>
    </div>
    <div class="holder_information">
      <div class="container">
          <mat-tab-group animationDuration="0ms">
            <mat-tab label="Консолидация данных из МИС qMS">
              <p class="about_solution">Миграция баз данных - сложный технологический процесс, требующий обеспечения доступности исходной БД и целостности мигрируемых данных. Наше решение позволяет осуществлять не только полную миграцию данных, но и миграцию недавно измененных или созданных записей. Возможность консолидации данных в режиме реального времени открывает новые возможности для применения систем помощи в принятии врачебных решений. </p></mat-tab>
            <mat-tab class="name_solution" label="Предварительная обработка данных"><p class="about_solution">Современные языки программирования, как и реализованные на них программы и СУБД, требуют чистоты и структурированности данных. </p>
              <p class="about_solution">Мы разработали высокопроизводительный модуль предварительной обработки данных, валидирующий более 54.000.000 значений в минуту.
              Для обеспечения стабильности программного комплекса и широких интеграционных возможностей мы используем Apache Kafka — распределённый программный брокер сообщений. Данный подход позволяет снизить системные требования к серверам целевых СУБД. </p></mat-tab>
            <mat-tab label="Автоматизация управления БД"><p class="about_solution">Решение3</p></mat-tab>
            <mat-tab label="Панель управления"><p class="about_solution">Решение4</p></mat-tab>
            <mat-tab label="Конструктор аналитических запросов"><p class="about_solution">Решение5</p></mat-tab>
            <mat-tab label="Система оценки эффективности ЛПУ"><p class="about_solution">Решение5</p></mat-tab>
          </mat-tab-group>


      </div>
    </div>
  </div>
</section>
