<section class="company">
  <div class="company_wrap">
    <div class="part">
    <!--  рабочая версия
      <div class="company_title">
        <h2 class="text">О компании</h2>
      </div>
      <div class="company_container">
        <img class="company_img" src="./assets/img/left.svg" alt="">
        <div class="about_company">
          <p></p>
          <div class="text_wrap">
            <p class="company_text">Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</p>
          </div>
        </div>
      </div>-->



      <div class="company_title">
        <h2 class="text">О компании</h2>
      </div>
      <div class="company_container">
        <div class="rectangle_wrap">
          <div id="rectangle"></div>
        </div>
        <!--<div class="img_wrap">
          <img class="company_img" src="./assets/img/left.svg" alt="">
        </div>-->
        <div class="about_company">
          <div class="text_wrap">
            <p class="company_text">Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</p>
          </div>
        </div>
      </div>




     <!-- <div class="company_title">
        <h2 class="text">О компании</h2>
      </div>
      <div class="company_container">
        <div>
          <img class="company_img" src="./assets/img/left.svg" alt="">
        </div>
          <p class="text_wrap">
            <span class="company_text">Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</span>
          </p>
      </div>-->

    </div>
  </div>
</section>
