<div class="container-fluid">
  <div class="row w-100">
    <div class="col-6  col-xl-6 col-lg-6 col-md-6 col-sm-6 contact_text">Контакты</div>
    <div class="col-6 col-xl-6 col-lg-6  col-md-6 col-sm-6 contact_text second_col">Обратная связь</div>
    <div class="w-100 d-none d-md-block"></div>
    <div class=" col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 contact_info">
      <div class="footer_information">
        <div class="contact">
          <div class="contact_container">
            <p class="contact_form">номер телефона</p>
            <p class="contact_form">адрес эл.почты</p>
            <p class="contact_form"><strong>город</strong><br /> ул. Улица 0, корп. 0</p>
          </div>
          <ul class="footer_socials socials">
            <li class="socials_item">
              <a class="socials_link" href="#">
                <img alt="" class="socials_svg" src="../../../assets/img/instagram%201.svg">
              </a>
            </li>
            <li class="socials_item">
              <a class="socials_link" href="#">
                <img alt="" class="socials_svg" src="../../../assets/img/facebook-logo%201.svg">
              </a>
            </li>
            <li class="socials_item">
              <a class="socials_link" href="#">
                <img alt="" class="socials_svg" src="../../../assets/img/telegram-1.svg">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 contact_info">
      <form [formGroup]="profileForm" class="form">
        <div class="size-form">
          <mat-form-field class="form-full-width" appearance="outline">
            <mat-label>Имя</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div>
          <div class="size-form">
            <mat-form-field class="form-full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Пожалуйста, введите действительный адрес электронной почты.
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                <strong>Требуется</strong> адрес электронной почты
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="size-form">
          <div class="textarea_wrap">
            <mat-form-field class="form-full-width" appearance="outline">
              <mat-label>Описание проекта</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
        </div>
        <div>
          <button (click)="saveFrom()" mat-stroked-button color="primary">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</div>

