
.container-fluid{
  margin: 0 auto;
  padding: 3% 6%;
}
.contact_text{
  color: #001B4A;
  font-size: 38px;
  line-height: 40px;
  letter-spacing: 0.03em;
  text-align: left;
  font-weight: 400;
  margin-bottom: 3%;
}
.button_text{
  color: #001B4A;
}
.mat-stroked-button:not(.mat-button-disabled){
  border-color: #001B4A;
}
.contact_form{
  margin-bottom: 4%;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  font-weight: 400;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer_socials{
  margin:0;
  padding:0;
  align-items: flex-start;
}
.socials_item{
  margin: 0 5% 0 0;
}
.socials_svg{
  max-width: 60%;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/*.form{
  padding-left: 33%;
}*/
.size-form {
  min-width: 100px;
  max-width: 300px;
  width: 100%;
}

.form-full-width {
  width: 100%;
}
/*.textarea_wrap{
 margin-top: 5%;
}*/
.mat-form-field-appearance-standard {
  .mat-form-field-underline {
    background-color: cyan;
  }
}

mat-form-field.mat-form-field {
  color: rgba(0, 27, 74, 0.25);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.text1{
  /*margin-top: -4px;*/
  font-size: 10px;
  line-height: normal;
  font-weight: 500;
}
.text{
  font-size: 10px;
  line-height: normal;
  font-weight: 500;
  margin-top: -15px;
}

@media (max-width: 1280px) {
  mat-form-field.mat-form-field {
    font-size: 13px;
    line-height: 16px;
  }
  .contact_text{
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.03em;
  }
  .contact_form{
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.01em;
  }
}
@media (max-width: 980px) {
  mat-form-field.mat-form-field {
    font-size: 13px;
    line-height: 16px;
  }
}
@media (max-width: 768px) {
  mat-form-field.mat-form-field {
    font-size: 13px;
    line-height: 16px;
  }
  .contact_text{
    font-size: 29px;
    line-height: 31px;
    letter-spacing: 0.02em;
  }
  mat-label{
    font-size: 10px;
  }
  .button_text{
    font-size: 10px;
  }
  .second_col{
    text-align: left;
  }
  .form{
    padding-left: 0;
  }
}
@media (max-width: 576px) {
  mat-form-field.mat-form-field {
    font-size: 13px;
    line-height: 16px;
  }
  .contact_text{
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0;
    margin-bottom: 0;
  }
  .contact_info{
    padding: 4% 1% 2%;
  }
  .contact_form{
    font-size: 10px;
  }
  .socials_item{
    max-width: 20px;
  }
  .contact_form:last-child{
    margin-bottom: 0;
  }
  .contact_container{
    margin-bottom: 10px;
  }
  .text1{
    /*margin-top: -4px;*/
    font-size: 8px;
  }
  .text{
    font-size: 8px;
  }

  .row{
    margin: 0 auto;
  }

}

