<!--<div>-->
<!--  <app-solution-title [data]="solutions[0]" > </app-solution-title>-->
<!--  <app-solution-content [data]="solutions[0]" > </app-solution-content>-->
<!--  <app-solution-list [data]="solutions[0]"></app-solution-list>-->
<!--  <app-solution-paragraph [data]="solutions[0]"></app-solution-paragraph>-->
<!--  <app-footer></app-footer>-->
<!--</div>-->

<div>
  <app-solution-title [data]="solutions[1]" > </app-solution-title>
  <app-solution-content [data]="solutions[1]" > </app-solution-content>
  <app-solution-list [data]="solutions[1]"></app-solution-list>
  <app-solution-paragraph [data]="solutions[1]"></app-solution-paragraph>
  <app-footer></app-footer>
</div>

<!--<app-solution-title [data]="solutions[0]"> </app-solution-title>-->
<!--<app-solution-content [comments]="solutions[0].comments"> </app-solution-content>-->
