<div class="content">
  <div class="content_wrap">
    <div class="row_1">
      <div class="new_row_1">
        <div class="group1">
          <img alt="" class="img1" src="assets/img/algorithm 2.svg">
          <div class="text1_container">
            <h2 class="text1">Интеграция программных систем и продуктов</h2>
          </div>
        </div>
        <div class="text1_about">
          <h3 class="description">Повседневная практика показывает, что выбранный нами путь способствует </h3>
        </div>
      </div>
      <div class="new_row_1">
        <div class="group1">
          <img alt="" class="img1" src="assets/img/api%201.svg">
          <div class="text1_container">
            <h2 class="text1">Разработка API для медицинских информационных систем</h2>
          </div>
        </div>
        <div class="text1_about">
          <h3 class="description">Повседневная практика показывает, что выбранный нами путь способствует</h3>
        </div>
      </div>
    </div>
    <div class="row_1">
      <div class="new_row_1">
        <div class="group1">
          <img alt="" class="img1" src="assets/img/web%201.svg">
          <div class="text1_container">
            <h2 class="text1">Разработка веб-приложений</h2>
          </div>
        </div>
        <div class="text1_about">
          <h3 class="description">текст</h3>
        </div>
      </div>
      <div class="new_row_1">
        <div class="group1">
          <img alt="" class="img1" src="assets/img/file%201.svg">
          <div class="text1_container">
            <h2 class="text1">Аутстаффинг</h2>
          </div>
        </div>
        <div class="text1_about">
          <h3 class="description">текст</h3>
        </div>
      </div>
    </div>
    <div class="row_3">
      <div class="new_row_1">
        <div class="group1">
          <img alt="" class="img1" src="assets/img/software-development%201.svg">
          <div class="text1_container">
            <h2 class="text1">Обратная разработка программного обеспечения</h2>
          </div>
        </div>
        <div class="text1_about">
          <h3 class="description">текст</h3>
        </div>
      </div>
      <div class="new_row_1">
        <div class="group1">
          <img alt="" class="img1" src="assets/img/network%201.svg">
          <div class="text1_container">
            <h2 class="text1">Проектирование высоконагруженных систем. Повседневная практика показывает, что выбранный нами путь способствует </h2>
          </div>
        </div>
        <div class="text1_about">
          <h3 class="description">Повседневная практика показывает, что выбранный нами путь способствует </h3>
        </div>
      </div>
    </div>
  </div>
</div>
