<div class="content">
  <div class="content_wrap">
    <div class="row_1">
      <div class="new_row_1">
        <div class="group1">
          <img alt="" class="img1" src="../../../assets/img/algorithm%202.svg">
          <div class="text1_container">
            <h2 class="text1">Интеграция программных систем и продуктов</h2>
          </div>
        </div>
        <div class="text1_about">
          <h3 class="description">Интеграции любой сложности, с использованием новейших IT - технологий</h3>
        </div>
      </div>
      <div class="new_row_1">
        <div class="group1">
          <img alt="" class="img1" src="../../../assets/img/api%201.svg">
          <div class="text1_container">
            <h2 class="text1">Разработка API для медицинских информационных систем</h2>
          </div>
        </div>
        <div class="text1_about">
          <h3 class="description">Большой опыт создания API для интеграции МИС qMS с сторонними системами, сервисами. сайтами</h3>
        </div>
      </div>
    </div>
    <div class="row_1">
      <div class="new_row_1">
        <div class="group1">
          <img alt="" class="img1" src="../../../assets/img/web%201.svg">
          <div class="text1_container">
            <h2 class="text1">Разработка веб-приложений</h2>
          </div>
        </div>
        <div class="text1_about">
          <h3 class="description">Мобильные приложения, Business Intelligence. Масштабируемость, производительность, безопасность</h3>
        </div>
      </div>
      <div class="new_row_1">
        <div class="group1">
          <img alt="" class="img1" src="../../../assets/img/file%201.svg">
          <div class="text1_container">
            <h2 class="text1">Аутстаффинг</h2>
          </div>
        </div>
        <div class="text1_about">
          <h3 class="description">Квалифицированные разработчики ПО, экспертное консультирование по вопросам разработки</h3>
        </div>
      </div>
    </div>
    <div class="row_3">
      <div class="new_row_1">
        <div class="group1">
          <img alt="" class="img1" src="../../../assets/img/software-development%201.svg">
          <div class="text1_container">
            <h2 class="text1">Автоматизация бизнес-процессов</h2>
          </div>
        </div>
        <div class="text1_about">
          <h3 class="description">Разработка ПО на заказ, увеличение эффективности рабочего процесса</h3>
        </div>
      </div>
      <div class="new_row_1">
        <div class="group1">
          <img alt="" class="img1" src="../../../assets/img/network%201.svg">
          <div class="text1_container">
            <h2 class="text1">Проектирование высоконагруженных систем.</h2>
          </div>
        </div>
        <div class="text1_about">
          <h3 class="description">Создание высокопроизводительных систем для анализа и обработки данных</h3>
        </div>
      </div>
    </div>
  </div>
</div>
