.content_wrap{
 /* max-width: 100%;
  min-width: 280px;*/
  padding: 0 6%;
  margin: 0 auto 3%;
}
.content{
/*  max-width: 100%;
  min-width: 320px;*/
  background: #FFFFFF;
}

.text1{
  color: #001B4A;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  font-weight: 600;
}
.text1_about{
  /*max-width: 1000px;
  min-width: 290px;*/
  margin-top: 3%;
}
.description{
  color: #001B4A;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  font-weight: 400;
}
.img_wrap{
  margin: auto 0;
}

@media (max-width: 1200px) {
  .text1{
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.02em;
  }
  .description{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
  }
}
@media (max-width: 980px) {
  .text1{
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.01em;
    margin-bottom: 2%;
  }
  .description{
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0;
  }
  .text1_about{
    margin-top: 2%;
  }
}
@media (max-width: 768px) {
  .text1{
    max-width: 100%;
  }
  .text1_about{
    margin-top: 1%;
  }
  .description{
    font-size: 10px;
    line-height: 13px;
  }
  .img1{
    width: 30%;
    margin: auto;
  }
  .img_wrap{
    padding: 0;
  }
}
@media (max-width: 576px) {
  .text1{
    font-size: 10px;
    line-height: 13px;
  }
  /*.content_wrap {
    padding: 0 6%;
  }*/
}
