<main class="solutions_title">
  <div class="solutions_wrap">
    <div class="part">

      <div class="container">
        <div class="row">
          <div class="col-5">
            картинка
          </div>
          <div class="col-7">
            <div class="textabout">
              <h2 class="solutions_text">1. Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</h2>
              <h2 class="solutions_text">2. Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</h2>
              <h2 class="solutions_text">3. Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</h2>
              <h2 class="solutions_text">4. Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</h2>
            </div>
          </div>
        </div>

      </div>

      <div class="container">
        <div class="row">
          <div class="col-5">
            <div class="solutions">
              <h2 class="text">Текст</h2>
            </div>
            <div class="textabout">
              <h2 class="solutions_text">Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</h2>
            </div>
          </div>
          <div class="col-7">
            статистика
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-8">
            <h2 class="text">Небольшая часть текста (предложение), которое следует выделить</h2>
          </div>
          <div class="col-4">
            <h4 class="addition">Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений...</h4>
          </div>
        </div>
        <div class="row">
          <h2 class="solutions_text">Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</h2>
        </div>
      </div>




    </div>
  </div>
</main>
