<main class="solutions_title">
  <div class="solutions_wrap">

      <div class="text_wrap">
        <h2 class="text">Подзаголовок1</h2>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-6 gx-sm-5 gx-4 img_wrap">
            <img class="img2" src="../assets/img/Group%20512.png">
          </div>
          <div class="col-12 col-sm-6 gx-sm-5 gx-4 solutions_text_wrap">

          <div class="list_wrap" *ngFor="let object of objects">
            <div class="row list_item">
              <div class="col-1 col-sm-2 number">
                <h2 class="bold_text" *ngIf="object.mark">{{object.mark}}</h2>
              </div>
              <div class="col-11 col-sm-10">
                <h3 class="solutions_text" *ngIf="object.description">{{object.description}}</h3>
              </div>
            </div>
          </div>

          </div>
          </div>

      </div>

    </div>
</main>
