<!--<body class="mat-typography">
  <div class="container">
    <header class="header">
      <app-main></app-main>
    </header>
    <app-first-title></app-first-title>
    <app-content></app-content>
    <app-holder></app-holder>
    <app-company></app-company>
    <app-clients-partners></app-clients-partners>
    <app-solutions></app-solutions>
    <app-footer></app-footer>
  </div>
</body>-->


<div>
  <app-main></app-main>
  <app-first-title></app-first-title>
  <app-content></app-content>
  <!--<app-holder></app-holder>-->
  <app-company></app-company>
  <app-clients-partners></app-clients-partners>
  <app-projects></app-projects>
  <app-footer></app-footer>
</div>
