<main class="projects_title">
  <div class="projects_wrap">
    <div class="part">
      <div class="projects">
        <h2 class="text">Проекты</h2>
      </div>
      <div class="textabout">
        <h2 class="projects_text">Мы умеем и готовы помочь в реализации нетиповых проектов.<br><br>
          В этом разделе Мы хотим поделиться с Вами нашими <strong>реализованными на практике </strong> проектами.
          А так же подчеркнуть разнонаправленность самих проектов - от работы
          с веб-интерфейсами и API до интеграции медицинского оборудования и построения
          моделей машинного обучения.  </h2>
      </div>
    </div>
  </div>
</main>
