<main class="projects_title">
  <div class="projects_wrap">
    <div class="part">
      <div class="projects">
        <h2 class="text">Проекты</h2>
      </div>
      <div class="textabout">
        <h2 class="projects_text">Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</h2>
      </div>
    </div>
  </div>
</main>
