<div class="company_list">
  <div class="company_wrap">
    <div class="text_wrap">
      <h2 class="text">Вакансии</h2>
    </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-6">


            <div class="accordion accordion-flush " id="accordionFirstCol">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    DevOps - инженер
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFirstCol">
                  <div class="accordion-body">
                    <p><strong>Обязанности:</strong>
                      <br>- Взаимодействие с разработчиками
                      <br>- Составление документации по внедряемым проектам
                      <br>- Активное участие в проектах команды
                    </p>
                    <p><strong>Требования:</strong>
                      <br>- Понимание принципов СI/CD
                      <br>- Linux (Debian/Ubuntu/CentOS)
                      <br>- Docker, Docker Compose, Docker Swarm
                      <br>- Git
                      <br>- Elasticsearch
                      <br>- Prometheus
                      <br>- Grafana
                      <br>- Yandex Cloud
                      <br>- Опыт от 2х лет
                    </p>
                    <p><strong>Будет плюсом:</strong>
                      <br>- Atlassian (Jira,Confluence)
                      <br>- MySQL
                      <br>- iptables/ufw
                    </p>
                    <p><strong>Мы предлагаем:</strong>
                      <br>- Интересную работу над новыми проектами и развитие существующих решений в команде профессионалов
                      <br>- Профессиональный и карьерный рост
                      <br>- Дистанционный формат работы
                    </p>
                    <p>
                      Просьба высылать резюме с указанием уровня желаемой заработной платы.
                    </p>
                  </div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne-2">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-2" aria-expanded="false" aria-controls="collapseOne-2">
                    Golang - разработчик (Middle)
                  </button>
                </h2>
                <div id="collapseOne-2" class="accordion-collapse collapse" aria-labelledby="headingOne-2" data-bs-parent="#accordionFirstCol">
                  <div class="accordion-body">
                    <p><strong>Обязанности:</strong>
                      <br>- Написание запросов к ElasticSearch
                      <br>- Разработка многопоточных приложений
                      <br>- Тестирование кода
                      <br>- Формирование документации
                    </p>
                    <p><strong>Требования:</strong>
                      <br>- Понимание принципов клиент-сервисной архитектуры
                      <br>- Понимание принципов паралелльного программирования
                      <br>- Знание алгоритмов
                      <br>- Чистый читаемый код
                      <br>- Linux (Debian/Ubuntu/CentOS)
                      <br>- Elasticsearch
                      <br>- Git
                      <br>- gRPC
                      <br>- Опыт от 2х лет
                    </p>
                    <p><strong>Будет плюсом:</strong>
                      <br>- Atlassian (Jira,Confluence)
                      <br>- SQL
                    </p>
                    <p><strong>Мы предлагаем:</strong>
                      <br>- Интересную работу над новыми проектами и развитие существующих решений в команде профессионалов
                      <br>- Профессиональный и карьерный рост
                      <br>- Дистанционный формат работы
                    </p>
                    <p>
                      Просьба высылать резюме с указанием уровня желаемой заработной платы.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne-3">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-3" aria-expanded="false" aria-controls="collapseOne-2">
                    Golang - разработчик (Senior)
                  </button>
                </h2>
                <div id="collapseOne-3" class="accordion-collapse collapse" aria-labelledby="headingOne-3" data-bs-parent="#accordionFirstCol">
                  <div class="accordion-body">
                    <p><strong>Обязанности:</strong>
                      <br>- Написание запросов к ElasticSearch
                      <br>- Разработка многопоточных приложений
                      <br>- Управление командой разработчиков
                      <br>- Формирование документации
                    </p>
                    <p><strong>Требования:</strong>
                      <br>- Понимание принципов клиент-сервисной архитектуры
                      <br>- Понимание принципов паралелльного программирования
                      <br>- Глубокое знание алгоритмов
                      <br>- Чистый читаемый код
                      <br>- Проведение кодревью
                      <br>- Представление деятельности команды
                      <br>- Linux (Debian/Ubuntu/CentOS)
                      <br>- Elasticsearch
                      <br>- Git
                      <br>- gRPC
                      <br>- Опыт от 4х лет
                    </p>
                    <p><strong>Будет плюсом:</strong>
                      <br>- Atlassian (Jira,Confluence)
                      <br>- SQL
                    </p>
                    <p><strong>Мы предлагаем:</strong>
                      <br>- Интересную работу над новыми проектами и развитие существующих решений в команде профессионалов
                      <br>- Профессиональный и карьерный рост
                      <br>- Дистанционный формат работы
                    </p>
                    <p>
                      Просьба высылать резюме с указанием уровня желаемой заработной платы.
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>


          <div class="col-6">
            <div class="accordion accordion-flush" id="accordionSecondCol">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Data Scientist
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSecondCol">
                  <div class="accordion-body">
                    <p><strong>Обязанности:</strong>
                      <br>- Написание запросов к ElasticSearch
                      <br>- Разметка медицинских данных
                      <br>- Изучение медицинской BigData
                      <br>- Обучение и тестирование моделей
                      <br>- Взаимодействие с командой разработчиков
                      <br>- Формирование документации
                    </p>
                    <p><strong>Требования:</strong>
                      <br>- NLP
                      <br>- Понимание алгоритмов ML
                      <br>- Чистый читаемый код
                      <br>- Linux (Debian/Ubuntu/CentOS)
                      <br>- Elasticsearch
                      <br>- Git
                      <br>- Опыт от 2х лет
                    </p>
                    <p><strong>Будет плюсом:</strong>
                      <br>- Atlassian (Jira,Confluence)
                      <br>- SQL
                    </p>
                    <p><strong>Мы предлагаем:</strong>
                      <br>- Интересную работу над новыми проектами и развитие существующих решений в команде профессионалов
                      <br>- Профессиональный и карьерный рост
                      <br>- Дистанционный формат работы
                    </p>
                    <p>
                      Просьба высылать резюме с указанием уровня желаемой заработной платы.
                    </p>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo-1">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo-1" aria-expanded="false" aria-controls="collapseTwo-1">
                    Тестировщик (Frontend)
                  </button>
                </h2>
                <div id="collapseTwo-1" class="accordion-collapse collapse" aria-labelledby="headingTwo-1" data-bs-parent="#accordionSecondCol">
                  <div class="accordion-body">
                    <p><strong>Обязанности:</strong>
                      <br>- Тестирование веб-приложений
                      <br>- Взаимодействие с командой разработчиков
                      <br>- Формирование документации
                    </p>
                    <p><strong>Требования:</strong>
                      <br>- Знания HTML/CSS/JS
                      <br>- Karma
                      <br>- Jasmine
                      <br>- Чистый читаемый код
                      <br>- Git
                      <br>- Опыт от 1 года
                    </p>
                    <p><strong>Будет плюсом:</strong>
                      <br>- Atlassian (Jira,Confluence)
                    </p>
                    <p><strong>Мы предлагаем:</strong>
                      <br>- Интересную работу над новыми проектами и развитие существующих решений в команде профессионалов
                      <br>- Профессиональный и карьерный рост
                      <br>- Дистанционный формат работы
                    </p>
                    <p>
                      Просьба высылать резюме с указанием уровня желаемой заработной платы.
                    </p>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo-2">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo-2" aria-expanded="false" aria-controls="collapseTwo-2">
                    Технический писатель
                  </button>
                </h2>
                <div id="collapseTwo-2" class="accordion-collapse collapse" aria-labelledby="headingTwo-2" data-bs-parent="#accordionSecondCol">
                  <div class="accordion-body">
                    <p><strong>Обязанности:</strong>
                      <br>- Разработка технических заданий
                      <br>- Взаимодействие с командой разработчиков
                      <br>- Формирование проектной документации
                    </p>
                    <p><strong>Требования:</strong>
                      <br>- Уверенный пользователь Microsoft Office
                      <br>- Усидчивость
                      <br>- Внимательность к деталям
                      <br>- Живой интерес к IT-технологиям
                      <br>- Опыт от 1 года
                    </p>
                    <p><strong>Будет плюсом:</strong>
                      <br>- Atlassian (Jira,Confluence)
                    </p>
                    <p><strong>Мы предлагаем:</strong>
                      <br>- Интересную работу над новыми проектами и развитие существующих решений в команде профессионалов
                      <br>- Профессиональный и карьерный рост
                      <br>- Дистанционный формат работы
                    </p>
                    <p>
                      Просьба высылать резюме с указанием уровня желаемой заработной платы.
                    </p>
                  </div>
                </div>
              </div>

            </div>


          </div>
      </div>

  </div>
</div>
</div>
