<div class="company_list">
  <div class="company_wrap">
    <div class="text_wrap">
      <h2 class="text">Вакансии</h2>
    </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-6">


            <div class="accordion accordion-flush " id="accordionFirstCol">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Вакансия 1
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFirstCol">
                  <div class="accordion-body">
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  </div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne-2">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-2" aria-expanded="false" aria-controls="collapseOne-2">
                    Вакансия 2
                  </button>
                </h2>
                <div id="collapseOne-2" class="accordion-collapse collapse" aria-labelledby="headingOne-2" data-bs-parent="#accordionFirstCol">
                  <div class="accordion-body">
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne-3">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-3" aria-expanded="false" aria-controls="collapseOne-2">
                    Вакансия 3
                  </button>
                </h2>
                <div id="collapseOne-3" class="accordion-collapse collapse" aria-labelledby="headingOne-3" data-bs-parent="#accordionFirstCol">
                  <div class="accordion-body">
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  </div>
                </div>
              </div>

            </div>
          </div>


          <div class="col-6">
            <div class="accordion accordion-flush" id="accordionSecondCol">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Вакансия 1
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSecondCol">
                  <div class="accordion-body">
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo-1">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo-1" aria-expanded="false" aria-controls="collapseTwo-1">
                    Вакансия 2
                  </button>
                </h2>
                <div id="collapseTwo-1" class="accordion-collapse collapse" aria-labelledby="headingTwo-1" data-bs-parent="#accordionSecondCol">
                  <div class="accordion-body">
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo-2">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo-2" aria-expanded="false" aria-controls="collapseTwo-2">
                    Вакансия 3
                  </button>
                </h2>
                <div id="collapseTwo-2" class="accordion-collapse collapse" aria-labelledby="headingTwo-2" data-bs-parent="#accordionSecondCol">
                  <div class="accordion-body">
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                    <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  </div>
                </div>
              </div>

            </div>


          </div>
      </div>

        <!--<div class="col-6" *ngFor="let item of items">
          <div class="accordion accordion-flush " id="accordionFirstCol">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" *ngIf="item.name">{{item.name}}
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFirstCol">
                <div class="accordion-body">
                  <h3 *ngIf="item.description">{{item.description}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>-->


  </div>
</div>
</div>
