<main class="project_title">
  <div class="project_wrap">

    <div class="text_wrap">
      <h2 class="text">{{data?.title}}</h2>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6 gx-sm-5 gx-4 solutions_text_wrap" *ngFor="let point of data?.points">

          <div class="list_wrap">
            <div class="row list_item">
              <div class="col-1 col-sm-2 number">
                <h2 class="bold_text" *ngIf="point?.mark">{{point?.mark}}</h2>
              </div>
              <div class="col-11 col-sm-10">
                <h3 class="project_text" *ngIf="point?.description">{{point?.description}}</h3>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</main>

