<section class="projects">
  <div class="project_wrap">
    <div class="projects_title">
      <h2 class="text">Решения</h2>
    </div>

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner">
<!--        <div class="carousel-item active" data-bs-interval="5000">-->
<!--          <div class="row gx-1 gx-sm-5 slider_wrap">-->
<!--            <img src="../../../assets/img/proqProekt.png" class="col-12 col-sm-6 d-block slider_img" alt="...">-->
<!--            <div class="col-12 col-sm-6 text_wrap">-->
<!--              <p class="project_name">Информационно-аналитическая платформа ProQ</p>-->
<!--              <p class="about_project">ETL – система, совместимая с медицинской информационной системой qMS,-->
<!--                предназначена для консолидации, последующей обработки и-->
<!--                визуализации данных из медицинских информационных систем, баз данных и других источников.</p>-->

<!--              <div class="button_group">-->
<!--                <button mat-raised-button color="primary" class="button_text">Текст</button>-->
<!--                <button mat-stroked-button color="primary" class="button_text button_text_color ml-3">Текст</button>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <div
             [class.active] = "project.id == 1 ? true: false"
             class="carousel-item" data-bs-interval="5000"


             *ngFor="let project of projects">
          <div class="row gx-1 gx-sm-5 slider_wrap">
            <img src="{{project.imgPage}}" class="col-12 col-sm-6 d-block slider_img" alt="...">
            <div class="col-12 col-sm-6 text_wrap">
              <p class="project_name" *ngIf="project.name">{{project.name}}</p>
              <p class="about_project" *ngIf="project.description">{{project.description}}</p>

              <div class="button_group">
                <button mat-raised-button color="primary" class="button_text">Подробнее</button>
               <a href="{{project?.demo}}">
                <button mat-stroked-button color="primary"  class="button_text button_text_color ml-3" [disabled]="!project.demo" >Демо</button>
               </a>
              </div>


            </div>
          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
    </div>

  </div>
</section>



<!--<section class="solutions">
  <div class="project_wrap">
      <div class="projects_title">
       <h2 class="text">Решения</h2>
      </div>

      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <div class="row gx-1 gx-sm-5 slider_wrap">
              <img src="../../../assets/img/proqProekt.png" class="col-12 col-sm-6 d-block slider_img" alt="...">
              <div class="col-12 col-sm-6 text_wrap">
                <p class="project_name">Информационно-аналитическая платформа ProQ</p>
                <p class="about_project">ETL – система, совместимая с медицинской информационной системой qMS,
                  предназначена для консолидации, последующей обработки и
                  визуализации данных из медицинских информационных систем, баз данных и других источников.</p>

              <div class="button_group">
                <button mat-raised-button color="primary" class="button_text">Текст</button>
                <button mat-stroked-button color="primary" class="button_text button_text_color ml-3">Текст</button>
              </div>

              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <div class="row gx-1 gx-sm-5 slider_wrap">
              <img src="../../../assets/img/BlokVebInterfeisov.png" class="col-12 col-sm-5 d-block slider_img" alt="...">
              <div class="col-12 col-sm-7 text_wrap">
                <p class="project_name">ProQ: Аналитика</p>
                <p class="about_project">Современный и удобный инструмент для аналитической работы. Подходит для оценки
                состояния медицинского учреждения как в режиме реального времени, так и в ретроспективе. </p>

                <div class="button_group">
                  <button mat-raised-button color="primary" class="button_text">Текст</button>
                  <button mat-stroked-button color="primary" class="button_text button_text_color ml-3">Текст</button>
                </div>

              </div>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="5000">

            <div class="row gx-1 gx-sm-5 slider_wrap">
              <img src="../../../assets/img/BlokVebInterfeisov.png" class="col-12 col-sm-5 d-block slider_img" alt="...">
              <div class="col-12 col-sm-7 text_wrap">
                <p class="project_name">ProQ: Структурирование медицинских записей</p>
                <p class="about_project">Рукописные шифры от руки врача уходят в прошлое, однако многие
                  лечебные учреждения до сих пор не ведут медицинские записи в структурированном виде. <br><br>
                  Наш продукт
                  позволяет структурировать медицинские записи и подготавливать их для машинного анализа.</p>

                <div class="button_group">
                  <button mat-raised-button color="primary" class="button_text">Текст</button>
                  <button mat-stroked-button color="primary" class="button_text button_text_color ml-3">Текст</button>
                </div>

              </div>
            </div>
          </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
      </div>

  </div>
</section>-->
