.holder_wrap{
  max-width: 100%;
  min-width: 290px;
  /*padding: 4% 6% 4%;*/
  padding: 0 6%;
  margin: 7% auto 4%;
}
.customers_title{
  max-width: 100%;
  min-width: 290px;
}
.text{
  margin-bottom: 3%;
  font-size: 38px;
  line-height: 40px;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.carousel-item {
  padding: 1% 0 0;
}
.item_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4%;
  text-align: center;
}
.client_logo{
  padding: 0 4%;
  text-align: center;
}

.item_img{
  margin: 0 auto;
  width: 160px;
}

@media (max-width: 1280px) {
  .text{
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.03em;
    font-weight: 400;
  }
  .item_img {
    width: 140px;
  }
}

@media (max-width: 768px) {
  .holder_wrap{
    padding: 3% 6% 5%;
    margin: 0;
  }
  .text{
    font-size: 29px;
    line-height: 31px;
    letter-spacing: 0.02em;
    font-weight: 400;
  }
  .item_img {
    width: 120px;
  }
}
@media (max-width: 580px) {
  .text{
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 400;
  }
  .client_logo {
    padding: 0;
    margin: 0;
  }
  .item_img {
    width: 80px;
  }
}
