<section class="clients_partners">
  <div class="holder_wrap">
    <div class="customers_title">
      <h2 class="text">Клиенты и партнеры</h2>
    </div>
    <div>
    </div>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="7000">
          <div class="item_container">
            <p class="client_logo"><img
              [defaultImage]="'../../../assets/img/loading.png'"
              [lazyLoad]="'../../../assets/img/sparm.png'"
              class="d-block item_img" alt="..."></p>
            <p class="client_logo"><img
              [defaultImage]="'../../../assets/img/loading.png'"
              [lazyLoad]="'../../../assets/img/enc.png'"
              class="d-block item_img" alt="..."></p>
            <p class="client_logo"><img
              [defaultImage]="'../../../assets/img/loading.png'"
              [lazyLoad]="'../../../assets/img/NRCERM.png'"
              class="d-block item_img" alt="..."></p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <div class="item_container">
            <p class="client_logo"><img
              [defaultImage]="'../../../assets/img/loading.png'"
              [lazyLoad]="'../../../assets/img/enc.png'"
              class="d-block item_img" alt="..."></p>
            <p class="client_logo"><img
              [defaultImage]="'../../../assets/img/loading.png'"
              [lazyLoad]="'../../../assets/img/NRCERM.png'"
              class="d-block item_img" alt="..."></p>
            <p class="client_logo"><img
              [defaultImage]="'../../../assets/img/loading.png'"
              [lazyLoad]="'../../../assets/img/starthub.png'"
              class="d-block item_img" alt="..."></p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="item_container">
            <p class="client_logo"><img
              [defaultImage]="'../../../assets/img/loading.png'"
              [lazyLoad]="'../../../assets/img/NRCERM.png'"
              class="d-block item_img" alt="..."></p>
            <p class="client_logo"><img
              [defaultImage]="'../../../assets/img/loading.png'"
              [lazyLoad]="'../../../assets/img/starthub.png'"
              class="d-block item_img" alt="..."></p>
            <p class="client_logo"><img
              [defaultImage]="'../../../assets/img/loading.png'"
              [lazyLoad]="'../../../assets/img/armit.png'"
              class="d-block item_img" alt="..."></p>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
