.company_title{
  /*max-width: 100%;
  min-width: 290px;*/
  background: rgba(214, 231, 238, 0.26);
}
.company_wrap{
  /*max-width: 100%;
  min-width: 290px;*/
  padding: 0 6%;
  margin-bottom: 3%;
}
.company{
  padding: 3% 0 0;
  /*max-width: 100%;
  min-width: 320px;*/
}
.text{
  margin-bottom: 1%;
  font-size: 38px;
  line-height: 40px;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-transform: uppercase;
}
.textabout{
  padding: 2% 0 4%;
}
.company_text{
  color: #001B4A;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 1280px) {
  .text{
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.03em;
  }
  .company_text{
    font-size: 17px;
    line-height: 21px;
  }
}
@media (max-width: 980px) {
  .company_text{
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
  }
}
@media (max-width: 768px) {
  .text{
    font-size: 29px;
    line-height: 31px;
    letter-spacing: 0.02em;
  }
  .company_text{
    font-size: 13px;
    line-height: 16px;
  }
}
@media (max-width: 576px) {
  .text{
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0;
  }
  .company_text{
    font-size: 10px;
    line-height: 13px;
  }
}
