<main class="company_title">
  <div class="company_wrap">
    <div class="part">
      <div class="company">
        <h2 class="text">ООО "Флексибейс"<br><br> <strong>О компании</strong> </h2>
      </div>
      <div class="textabout">
        <h2 class="company_text">
          Создаём ИТ-решения по работе с большими данными для медицинских учреждений. <br><br>
          Наша основная специализация — разработка нетиповых проектов с высокими требованиями к качеству ПО.
          <br> <br> Современная и стремительно развивающаяся российская компания в сфере анализа медицинских данных.
          <br> <br> В компании работают молодые специалисты, окончившие лучшие технические вузы страны и использующие самые современные инструменты и подходы к работе.
          <br><br><br>
          Приоритет нашей компании - создание высокопроизводительных решений и внедрения передовых технологий
          в области обработки и анализа данных.
          </h2>
      </div>
    </div>
  </div>
</main>
