<main class="company_title">
  <div class="company_wrap">
    <div class="part">
      <div class="company">
        <h2 class="text">ООО "Флексибейс"<br><br> <strong>О компании</strong> </h2>
      </div>
      <div class="textabout">
        <h2 class="company_text">
          Создаём ИТ-решения по работе с большими данными для медицинских учреждений. <br>   <br>
         В само название компании попытались уложить нашу способность работы с любой базой данных.
          Название состоит из двух английских слов "flex"(изгиб, гибкость) и "base"(базы).<br>   <br>
          Наша основная специализация — разработка нетиповых проектов с высокими требованиями к качеству ПО.
          <br> <br> Современная и стремительно развивающаяся российская компания в сфере анализа медицинских данных.
          Компания следит за текущим положением дел в медицине. Только за начало 2021 г. мы принимали участие в Medsoft - 2021, qConference от Нетрики и ведущего разрабочика МИС qMS - СП.Арм.
          <br> <br> В компании работаю молодые специалисты, окончившие лучшие технические вузы страны и использующие самые современные инструменты и подходы к работе. С большим интузиазмом подходят к сложным задачам и нацелены на положительный опыт решения.
          <br><br><br>
          Приоритет нашей компании - создание высокопроизводительных решений и внедрения передовых технологий
          в области обработки и анализа данных.
          </h2>
      </div>
    </div>
  </div>
</main>
