<main class="company_title">
  <div class="company_wrap">
    <div class="part">
      <div class="company">
        <h2 class="text">О компании</h2>
      </div>
      <div class="textabout">
        <h2 class="company_text">
          Флексибейс - новая и стремительно развивающаяся компания в сфере анализа медицинских данных на российском рынке.
          <br><br><br>
          Приоритет нашей компании - создание высокопроизводительных решений и внедрения передовых технологий
          в области обработки и анализа данных.
          </h2>
      </div>
    </div>
  </div>
</main>
