<div class="container-fluid">
  <div class="row">

    <div class="col-12 colored_row">
      <div class="service_title">
        <h2 class="text">Веб-сервисы и стартапы</h2>
      </div>
      <div class="textabout_wrap">
        <h3 class="text_about">Мы создаем сайты любой сложности: от имиджевых промо-сайтов и интерактивных лэндинг-страниц до сложных сайтов под высокие нагрузки с жёсткими требованиями к информационной безопасности.
          <br><br>
          Дизайн всех проектов индивидуальный и разрабатывается в строгом соответствии с требованиями Заказчика. Интерфейсы строятся на современных технологиях: HTML5, CSS3 и JavaScript, с использованием AJAX и с применением методик адаптивного дизайна. Во всех проектах реализуется управление содержанием сайта через веб-интерфейс, а многие проекты также интегрируются с бизнес-системами заказчика (1С-Предприятие, Парус, SAP, Галактика и т.п.).
          <br><br>
          Наша специализация — сложные проекты с высокими требованиями к визуализации, интерактивности и техническим характеристикам проекта.
          <br><br>
          В разработке мы ориентируемся на бизнес-цели Заказчика — сайт должен быть эффективным инструментом для продвижения товаров или услуг и способствовать росту продаж. Для эффективного достижения этих целей необходима продуманная структура и навигация, удобный интерфейс, а также правильная архитектура для быстрой работы без сбоев под серьёзной нагрузкой.</h3>
      </div>
    </div>

    <div class="col-12 white_row">
      <div class="service_title">
        <h2 class="text">Бизнес-приложения</h2>
      </div>
      <div class="textabout_wrap">
        <h3 class="text_about">
          Мы осуществляем разработку и внедрение автоматизированных систем с веб-интерфейсом для решения бизнес-задач.
<br><br>
          Это могут быть как системы для комплексного управления предприятием, так и системы для отдельных классов задач: CRM-системы, платформы для организации клиентского сервиса, учетные системы, системы электронного документооборота, платформы для проектного управления, экспертные системы и системы поддержки принятия решений.</h3>
      </div>
    </div>

    <div class="col-12 colored_row">
      <div class="service_title">
        <h2 class="text">Автоматизация бизнес-процессов</h2>
      </div>
      <div class="textabout_wrap">
        <h3 class="text_about">Зачастую текущие бизнес-процесссы не оптимизированны, в связи с чем приходится содержать отдельный штат сотрудников, занимающихся рутинной работой. </h3>
        <br>
        Мы осуществляем комплексный анализ бизнес-процессов, а затем автоматизируем их, тем самым сокращая издержки на ФОТ и прочие расходы.
      </div>
    </div>

    <div class="col-12 white_row">
      <div class="service_title">
        <h2 class="text">Разработка на Cache Object Script </h2>
      </div>
      <div class="textabout_wrap">
        <h3 class="text_about">Мы имеем большой опыт в разработке многопоточных приложений для промышленной СУБД InterSystems Cache и готовы поделиться им для реализации Ваших задач.</h3>
      </div>
    </div>

<!--    <div class="col-12 colored_row">-->
<!--      <div class="service_title">-->
<!--        <h2 class="text">Заголовок</h2>-->
<!--      </div>-->
<!--      <div class="textabout_wrap">-->
<!--        <h3 class="text_about">Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. </h3>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-12 white_row">-->
<!--      <div class="service_title">-->
<!--        <h2 class="text">Заголовок</h2>-->
<!--      </div>-->
<!--      <div class="textabout_wrap">-->
<!--        <h3 class="text_about">Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. </h3>-->
<!--      </div>-->
<!--    </div>-->

  </div>
</div>
