<section class="projects">
  <div class="project_wrap">
      <div class="projects_title">
       <h2 class="text">Проекты</h2>
      </div>

      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="slider_wrap">
              <img src="./assets/img/image%2015.svg" class="d-block w-100 slider_img" alt="...">
              <div class="text_wrap">
                <p class="project_name">Название проекта и обозначение заказчика</p>
                <p class="about_project">Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации Явные признаки победы  </p>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="slider_wrap">
              <img src="./assets/img/image%2015.svg" class="d-block w-100 slider_img" alt="...">
              <div class="text_wrap">
                <p class="project_name">Название проекта и обозначение заказчика</p>
                <p class="about_project">Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации Явные признаки победы  </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slider_wrap">
              <img src="./assets/img/image%2015.svg" class="d-block w-100 slider_img" alt="...">
              <div class="text_wrap">
                <p class="project_name">Название проекта и обозначение заказчика</p>
                <p class="about_project">Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации Явные признаки победы  </p>
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
      </div>

  </div>
</section>
