<div class="header_line">
  <div class="header_top_wrap">
    <div class="header_top">
      <div class="header_logo logo">
        <a class="logo_link" href="#">
          <img class="logo_img" src="assets/img/logo.svg" alt="логотип">
        </a>
      </div>
      <nav class="header_menu menu">
        <ul class="menu_list">
          <li class="menu_item">
            <a class="menu_link" href="#">Услуги</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="#">Решения</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="#">Компания</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="#">Проекты</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="#">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
