
<main class="solution_title">
  <div class="solution_wrap">
    <div class="part">
      <div class="solution">
        <h2 class="text">{{data?.name}}</h2>
      </div>

      <div class="textabout">
        <h2 class="solution_text">{{data?.description}}</h2>

      </div>
    </div>
  </div>
</main>

<!--<video width="320" height="240" controls>-->
<!--  <source src="./assets/img/VideoKonsolidatia.mp4" type="video/mp4">-->
<!--  Your browser does not support the video tag.-->
<!--</video>-->

<!--<div class="frame frame&#45;&#45;cover frame&#45;&#45;dark-overlay">-->

<!--  <video id="home-hero-video" class=" " src="{{data?.video}} "data-oggsrc="" poster= "{{data?.videoStop}}" autoplay="" muted="" loop="" playsinline="">-->
<!--    <source src="./assets/img/VideoKonsolidatia.mp4" type="video/mp4">-->
<!--    <source src="" type="video/ogg">-->
<!--   Извините,Ваш браузер не воспроизводит видео.-->
<!--  </video>-->


<!--</div>-->
