<main class="solutions_title">
  <div class="solutions_wrap">
    <div class="part">
      <div class="solutions">
        <h2 class="text">Информационно-аналитическая платформа ProQ</h2>
      </div>
      <div class="textabout">
        <h2 class="solutions_text">
          Современная ETL – система, совместимая с медицинской информационной системой qMS,
          предназначена для консолидации, последующей обработки и визуализации данных из
          медицинских информационных систем, баз данных и других источников. Данное решение,
          способствует высоким темпам развития интеграционных, научных и аналитических задач.
          Интегрируем ИАП ProQ с МИС, учётными и складскими системами, c CRM, с системами документооборота,
          а также с комплексными ERP-системами.
<!--          В основе наших решений лежат современные технологии и высокоэффективные алгоритмы обработки данных.-->
        </h2>
      </div>
    </div>
  </div>

  <div >
  <video class="" src="../../../assets/img/VideoKonsolidatia.mp4 "data-oggsrc="" poster= "../../../assets/img/VideoKonsolidatia_Moment.jpg" autoplay="" muted="" loop="" playsinline="">
    <source src="./assets/img/VideoKonsolidatia.mp4" type="video/mp4">
    <source src="" type="video/ogg">
    Извините,Ваш браузер не воспроизводит видео.
  </video>
  </div>
</main>

