<div class="technologies">
  <div class="technologies_wrap">
    <div class="part">
      <!--<div class="technologies_title">
        <h2 class="text">Технологии</h2>
      </div>-->
      <table class="table border-bottom border-secondary">
        <tbody>
        <tr class="technologies_title">
          <th scope="row" ></th>
          <td class="text">Технологии</td>
          <td></td>
        </tr>

        <tr>
          <th scope="row"></th>
          <td>
            <div class="unit_wrap">
              <div class="title_wrap">
                <h3 class="second_title">Параллельные вычисления</h3>
              </div>
              <div class="text_wrap">
                <h3 class="text_about">Многопоточное выполнение программ позволяет достигать бОльших результатов при меньших требованиях к аппаратному обеспечению</h3>
              </div>
            </div>
          </td>
          <td>
            <div class="unit_wrap">
              <div class="title_wrap">
                <h3 class="second_title">CI\CD</h3>
              </div>
              <div class="text_wrap">
                <h4 class="text_about">Автоматизированный процесс тестирования, доставки и установки обновлений сокращает трудозатраты системного администратора и обеспечивает высокую надежность описанных процессов.</h4>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>
            <div class="unit_wrap">
              <div class="title_wrap">
                <h3 class="second_title">Микросервисы</h3>
              </div>
              <div class="text_wrap">
                <h4 class="text_about">В качестве единицы развертывания мы используем Docker-контейнеры. Изолированная среда выполнения и гибкость технологии контейнеразации позволяет быстро и легко разворачивать новые сервисы. </h4>
              </div>
            </div>
          </td>
          <td>
            <div class="unit_wrap">
              <div class="title_wrap">
                <h3 class="second_title">ELK-stack</h3>
              </div>
              <div class="text_wrap">
                <h4 class="text_about">Информационный поиск - неотъемлимая часть большинства задач анализа данных. ElasticSearch - поисковая система с открытым исходным кодом, используемая крупными компаниями по всему миру.</h4>
              </div>
            </div>
          </td>
        </tr>
<!--        <tr>-->
<!--          <th scope="row"></th>-->
<!--          <td>-->
<!--            <div class="unit_wrap">-->
<!--              <div class="title_wrap">-->
<!--                <h3 class="second_title">Заголовок</h3>-->
<!--              </div>-->
<!--              <div class="text_wrap">-->
<!--                <h4 class="text_about">текст текст текст текст текст текст текст текст текст</h4>-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="unit_wrap">-->
<!--              <div class="title_wrap">-->
<!--                <h3 class="second_title">Заголовок</h3>-->
<!--              </div>-->
<!--              <div class="text_wrap">-->
<!--                <h4 class="text_about">текст текст текст текст текст текст текст текст текст</h4>-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--        </tbody>-->
      </table>
    </div>
  </div>
</div>
