<div class="projects_list">
  <div class="projects_wrap">

    <div class="container-fluid">
      <div class="row">

        <div class="col-12 col-sm-3">
          <!--<mat-form-field appearance="standard">
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>-->

          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1" class="col-12">Option 1</mat-radio-button>
            <mat-radio-button value="2" class="col-12">Option 2</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col-12 col-sm-9">
          <div class="row">
            <div class="col-12 col-sm-6 card_wrap" *ngFor="let card of cards">
              <div class="card">
                <img *ngIf="card.img" src="{{card.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" *ngIf="card.name">{{card.name}}</h5>
                  <p class="card-text" *ngIf="card.description">{{card.description}}</p>

                  <div class="sfd">
                    <a [routerLink]="['/project1', {identidicator: card.name} ]" class="button_wrap">
                      <span class="card-text">Подробнее</span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right arrow" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                      </svg>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!--<div class="projects_list">
  <div class="projects_wrap">

    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
          <div class="accordion accordion-flush" id="accordionFirstCol">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Проект1
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFirstCol">
                <div class="accordion-body">
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne-2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-2" aria-expanded="false" aria-controls="collapseOne-2">
                  Проект2
                </button>
              </h2>
              <div id="collapseOne-2" class="accordion-collapse collapse" aria-labelledby="headingOne-2" data-bs-parent="#accordionFirstCol">
                <div class="accordion-body">
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne-3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-3" aria-expanded="false" aria-controls="collapseOne-3">
                  Проект3
                </button>
              </h2>
              <div id="collapseOne-3" class="accordion-collapse collapse" aria-labelledby="headingOne-3" data-bs-parent="#accordionFirstCol">
                <div class="accordion-body">
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">


          &lt;!&ndash;<section class="example-section">
            <mat-checkbox class="example-margin">Текст</mat-checkbox>
            <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
          </section>&ndash;&gt;

          <section class="example-section">
  <span class="example-list-section">
    <mat-checkbox class="example-margin"
                  [checked]="allComplete"
                  [color]="task.color"
                  [indeterminate]="someComplete()"
                  (change)="setAll($event.checked)">
      {{task.name}}
    </mat-checkbox>
  </span>
            <span class="example-list-section">
    <ul>
      <li *ngFor="let subtask of task.subtasks">
        <mat-checkbox [(ngModel)]="subtask.completed"
                      [color]="subtask.color"
                      (ngModelChange)="updateAllComplete()">
          {{subtask.name}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
          </section>


        </div>
      </div>
    </div>

  </div>
</div>-->

<!--<div class="projects_list">
  <div class="projects_wrap">

    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
          <div class="accordion accordion-flush" id="accordionFirstCol">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Проект1
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFirstCol">
                <div class="accordion-body">
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne-2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-2" aria-expanded="false" aria-controls="collapseOne-2">
                  Проект2
                </button>
              </h2>
              <div id="collapseOne-2" class="accordion-collapse collapse" aria-labelledby="headingOne-2" data-bs-parent="#accordionFirstCol">
                <div class="accordion-body">
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne-3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-3" aria-expanded="false" aria-controls="collapseOne-3">
                  Проект3
                </button>
              </h2>
              <div id="collapseOne-3" class="accordion-collapse collapse" aria-labelledby="headingOne-3" data-bs-parent="#accordionFirstCol">
                <div class="accordion-body">
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">


          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1" class="col-12">Option 1</mat-radio-button>
            <mat-radio-button value="2" class="col-12">Option 2</mat-radio-button>
          </mat-radio-group>


        </div>
      </div>
    </div>

  </div>
</div>-->







