<div class="projects_list">
  <div class="projects_wrap">

    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
          <div class="accordion accordion-flush" id="accordionFirstCol">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Проект
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFirstCol">
                <div class="accordion-body">
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne-2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-2" aria-expanded="false" aria-controls="collapseOne-2">
                  Проект
                </button>
              </h2>
              <div id="collapseOne-2" class="accordion-collapse collapse" aria-labelledby="headingOne-2" data-bs-parent="#accordionFirstCol">
                <div class="accordion-body">
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                  <p><strong>Текст:</strong><br> -текст<br>-текст<br>-текст</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">

         <!-- <label id="example-radio-group-label">Текст</label>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="projectsList">
            <mat-radio-button class="example-radio-button" *ngFor="let point of point" [value]="point">
              {{point}}
            </mat-radio-button>
          </mat-radio-group>
          <div>{{projectsList}}</div>-->

        </div>
      </div>
    </div>

  </div>
</div>
