<main class="services_title">
  <div class="services_wrap">
    <div class="part">
      <div class="services">
        <h2 class="text">Наши услуги</h2>
      </div>
      <div class="textabout">
        <h2 class="services_text">
          Решаем задачи любой сложности, пишем серверное ПО, сервисы и веб-приложения для автоматизации бизнеса. Наша основная специализация — <strong> разработка нетиповых </strong> проектов с высокими требованиями к качеству ПО.
 <br><br><br>
          Мы ориентированы на максимально эффективное решение бизнес-задач клиента. Приоритет разработки — коммерческая успешность создаваемых решений, а инструментами для её достижения являются продуманные и красивые интерфейсы, быстрая и надёжная работа программной части, а также устойчивость к нагрузкам в сочетании с высокой производительностью.
 <br><br><br>

<!--          <button mat-raised-button color="primary" class="button_text" href="tel:+74951477911"> Свяжитесь с нами</button>-->
          Свяжитесь с нами, и мы предложим вам оптимальную конфигурацию для веб-проекта, которая будет эффективно решать поставленные задачи, учитывая все требования и специфику бизнеса.

        </h2>
      </div>
    </div>
  </div>
</main>
