<main class="solutions_title">
  <div class="solutions_wrap">

    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="solutions">
            <h2 class="text">Консолидация данных из МИС qMS</h2>
          </div>
          <div class="textabout">
            <h2 class="solutions_text">
              Интеграция различных источников данных, как на уровне медицинского учреждения, так и в масштабах региона, открывает новые возможности использования данных.
              <br><br>
              Преддиктивная и персонифицированная медицина, исследования и разработка новых методов лечения, оценка системы ценообразования и оплаты, создание собственных регистров и референс-центров, разработка новых бизнес-моделей.
            </h2>
          </div>
        </div>
        <div class="col-6 color_grid">



            <div class="row">
              <div class="col cell_1">
                1 of 4
              </div>
              <div class="col col cell_1">
                2 of 4
              </div>
            </div>
            <div class="row">
              <div class="col cell_2">
                3 of 4
              </div>
              <div class="col col cell_2">
                4 of 4
              </div>
            </div>

          <!--<table class="table table-bordered">
            <tbody>
            <tr>
              <td class="cell_1">Mark</td>
              <td class="cell_2">Otto</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
            </tbody>
          </table>-->
        </div>
      </div>
    </div>
  </div>
</main>
