<main class="solutions_title">
  <div class="solutions_wrap">

    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="solutions">
            <h2 class="text">Текст</h2>
          </div>
          <div class="textabout">
            <h2 class="solutions_text">Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</h2>
          </div>
        </div>
        <div class="col-6 color_grid">



            <div class="row">
              <div class="col cell_1">
                1 of 4
              </div>
              <div class="col col cell_1">
                2 of 4
              </div>
            </div>
            <div class="row">
              <div class="col cell_2">
                3 of 4
              </div>
              <div class="col col cell_2">
                4 of 4
              </div>
            </div>

          <!--<table class="table table-bordered">
            <tbody>
            <tr>
              <td class="cell_1">Mark</td>
              <td class="cell_2">Otto</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
            </tbody>
          </table>-->
        </div>
      </div>
    </div>
  </div>
</main>
