<main class="solutions_title">
  <div class="solutions_wrap">

    <div class="text_wrap">
      <h2 class="text">Решаемые проблемы</h2>
    </div>



<div class="container-fluid">
  <div class="row">

<!--    <div class="img_wrap">-->
<!--      <img class="card-img-top"  src="{{data?.imgPage}}">-->
<!--    </div>-->

<div class="col-12 col-sm-6 second_col"    *ngFor="let blok of data?.specifications">

<!--  <div class="img_wrap">-->
<!--             <img class="img_1" src="./assets/img/file%201.svg">-->
<!--           </div>-->

  <div class="text_about">
    <h3 class="solutions_text"><strong> {{blok?.name}}</strong></h3>
  </div>

  <div class="text_about">
    <h3 class="solutions_text">{{blok?.description}}</h3>
  </div>

</div>
</div>
  </div>

    <div class="button_demo">
    <a href="{{data?.demo}}">
      <button mat-raised-button color="primary"  class="button_text" [disabled]="!data?.demo" > Демо </button>
    </a>
    </div>
</div>




