<section class="holder">
  <div class="holder_wrap">
    <div class="holder_title">
      <h2 class="text">Решения</h2>
    </div>
    <div class="holder_information">
      <div class="container">
          <mat-tab-group animationDuration="0ms">
            <mat-tab label="Консолидация данных из МИС qMS"><p class="about_solution">Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</p></mat-tab>
            <mat-tab class="name_solution" label="Предварительная обработка данных"><p class="about_solution">Решение2</p></mat-tab>
            <mat-tab label="Автоматизация управления БД"><p class="about_solution">Решение3</p></mat-tab>
            <mat-tab label="Панель управления"><p class="about_solution">Решение4</p></mat-tab>
            <mat-tab label="Конструктор аналитических запросов"><p class="about_solution">Решение5</p></mat-tab>
            <mat-tab label="Система оценки эффективности ЛПУ"><p class="about_solution">Решение5</p></mat-tab>
          </mat-tab-group>


      </div>
    </div>
  </div>
</section>
