<body class="mat-typography">
  <div class="container">
    <!--<header class="header">-->
    <app-menu></app-menu>
    <div class="container_1">
      <router-outlet></router-outlet>
    </div>
      <!--<app-menu></app-menu>
      &lt;!&ndash;<div class="container_1">
        <router-outlet></router-outlet>

      </div>&ndash;&gt;
      <app-main></app-main>
    </header>
    <app-first-title></app-first-title>
    <app-content></app-content>
    <app-holder></app-holder>
    <app-items></app-items>
    <app-clients-partners></app-clients-partners>
    <app-solutions></app-solutions>
    <app-footer></app-footer>-->
  </div>
</body>

