<main class="first_title">
  <div class="title_wrap">
    <div class="container-fluid">
      <div class="row justify-content-start">
        <div class="col-12 col-sm-3 services">
          <h2 class="text">Услуги</h2>
        </div>
        <div class="col-12 col-sm-9 textabout">
          <h2 class="services_text">Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</h2>
        </div>
      </div>
    </div>
  </div>
</main>


