<main class="first_title">
  <div class="title_wrap">

    <div class="container-fluid">
      <div class="row justify-content-start">
        <div class="col-12 col-sm-3 services">
          <h2 class="text">Услуги</h2>
        </div>
        <div class="col-12 col-sm-9 textabout">
          <h2 class="services_text">Слаженная команда молодых и увлеченных своим делом специалистов в области IT технологий с радостью придет Вам на помощь. Чем <strong> сложнее </strong> задача, <strong> тем интереснее </strong> её решать. </h2>
        </div>

      </div>
    </div>
  </div>
</main>


