<main class="first_title">
  <div class="title_wrap">
    <div class="part">
      <div class="services">
        <h2 class="text">Услуги</h2>
      </div>
      <div class="textabout">
        <!-- <div class="text_container"> -->
        <h2 class="services_text">Слаженная команда молодых и увлеченных своим делом специалистов в области IT технологий с радостью придет Вам на помощь. Чем <strong> сложнее </strong> задача, <strong> тем интересней </strong> её решать. </h2>
        <!-- </div> -->
      </div>
    </div>
  </div>
</main>
