.first_title{
  max-width: 100%;
  min-width: 290px;
  background: #FFFFFF;
}
.title_wrap{
  max-width: 100%;
  min-width: 290px;
  /*padding-left: 90px;*/
  padding-left: 6%;
 /* margin: 0 auto;*/
}
.part{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 40px;
  margin-top: 4%;
  padding-bottom: 2%;
  align-items: center;
}
.services{
  /*padding: 5% 0;*/
  max-width: 100%;
  min-width: 320px;
}
.text{
  margin-bottom: 15px;
  font-size: 38px;
  line-height: 40px;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.textabout{
  max-width: 100%;
  min-width: 320px;
  padding: 2% 6% 2% 2%;
  height:auto;
  background: url("../../../assets/img/Rectangle 22.svg") center no-repeat;
  background-size: cover;
}
.services_text{
  color: #001B4A;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 1280px) {
  .part{
    grid-template-columns: 243px 1fr;
    grid-column-gap: 40px;
  }
  .text{
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.03em;
  }
  .services_text{
    font-size: 17px;
    line-height: 21px;
  }
}
@media (max-width: 980px) {
  /*.title_wrap{
    padding-left: 70px;
  }*/
  .part{
    grid-template-columns:  243px 1fr;
    grid-column-gap: 20px;
  }
  .services_text{
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
  }
}
@media (max-width: 768px) {
 /* .title_wrap{
    padding-left: 30px;
  }*/
  .part{
    grid-template-columns:  1fr;
    /*margin-top: 20px;*/
  }
  .text{
    font-size: 29px;
    line-height: 31px;
    letter-spacing: 0.02em;
  }
  .services_text{
    font-size: 13px;
    line-height: 16px;
  }
  .textabout{
    padding: 1% 3% 1% 1%;
  }
}
@media (max-width: 580px) {
  .part{
    /*padding-bottom: 20px;*/
  }
  .text{
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 0;
  }
  .services_text{
    font-size: 10px;
    line-height: 13px;
  }
}
