.container{
/*  max-width: 100%;
  min-width: 290px*/;
}
.solutions_wrap{
  /*max-width: 100%;
  min-width: 290px;*/
  padding: 0 6%;
}
.part{
  padding: 3% 0 2%;
}
.text {
  color: #001B4A;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: 600;
  margin-bottom: 3%;
}
.text_about {
  color: #001B4A;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-bottom: 2%;
  padding-right: 5%;
}

.button_wrap{
  align-items: center;
}

.sfd span {
  display: inline-block;
  margin-bottom: 0 !important;
  padding-right: 0 !important;
}
.arrow{
  color: #001B4A;
  padding-left: 1%;
  transition: 0.5s ease;
}

.sfd:hover svg {
  color: #028ABEB2;
  transform: translateX(50%);
  transition: 0.5s;
}

.sfd:hover span {
  color: #028ABEB2;
  transition: 0.3s;
}

@media (max-width: 1280px) {
  .text{
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.02em;
  }
  .text_about{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
  }
}
@media (max-width: 980px) {
  .text{
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.01em;
  }
  .text_about{
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0;
  }
}
@media (max-width: 768px) {
  .text_about{
    font-size: 10px;
    line-height: 13px;
  }
  .text{
    margin-bottom: 2%;
  }
  .arrow{
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 576px) {
  .text{
    font-size: 10px;
    line-height: 13px;
  }
  .text_about{
    padding-right: 5%;
  }
  .arrow{
    width: 20px;
    height: 20px;
  }
}




