<div class="solutions">
  <div class="solutions_wrap">
    <div class="container">
      <div class="row border-bottom border-secondary part">
        <div class="col">
          <div class="solutions_title">
            <h2 class="text">Заголовок</h2>
          </div>
          <div class="text_about">
            <h3>Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. </h3>
          </div>
        </div>
        <div class="col">
          <div class="solutions_title">
            <h2 class="text">Заголовок</h2>
          </div>
          <div class="text_about">
            <h3>Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. </h3>
          </div>
        </div>
      </div>

      <div class="row border-bottom border-secondary part">
        <div class="col">
          <div class="solutions_title">
            <h2 class="text">Заголовок</h2>
          </div>
          <div class="text_about">
            <h3>Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. </h3>
          </div>
        </div>
        <div class="col">
          <div class="solutions_title">
            <h2 class="text">Заголовок</h2>
          </div>
          <div class="text_about">
            <h3>Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. </h3>
          </div>
        </div>
      </div>

      <div class="row border-bottom border-secondary part">
        <div class="col">
          <div class="solutions_title">
            <h2 class="text">Заголовок</h2>
          </div>
          <div class="text_about">
            <h3>Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
