<div class="solutions">
  <div class="solutions_wrap">
    <div class="container">
      <div class="row border-bottom border-secondary part">
        <div class="col">
          <div class="solutions_title">
            <h2 class="text">Заголовок</h2>
          </div>
          <div class="text_about">
            <h3>Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. <a class="solutions_link" routerLink="/solution1"><strong>Подробнее</strong></a></h3>
          </div>
        </div>
        <div class="col">
          <div class="solutions_title">
            <h2 class="text">Заголовок</h2>
          </div>
          <div class="text_about">
            <h3>Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</h3>
            <li class="solutions_item">
              <a class="solutions_link" routerLink="/solution1"><strong>Подробнее</strong></a>
            </li>
          </div>
        </div>
      </div>

      <div class="row border-bottom border-secondary part">
        <div class="col">
          <div class="solutions_title">
            <h2 class="text">Заголовок</h2>
          </div>
          <div class="text_about">
            <h3>Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</h3>
            <div class="sfd">
              <a routerLink="/solution1" class="button_wrap">
                <span class="button_text">Подробнее</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right arrow" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="solutions_title">
            <h2 class="text">Заголовок</h2>
          </div>
          <div class="text_about">
            <h3>Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</h3>
          </div>
        </div>
      </div>

      <div class="row border-bottom border-secondary part">
        <div class="col">
          <div class="solutions_title">
            <h2 class="text">Заголовок</h2>
          </div>
          <div class="text_about">
            <h3>Повседневная практика показывает, что выбранный нами инновационный путь способствует повышению качества как самодостаточных, так и внешне зависимых концептуальных решений. Явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
