<div class="solutions">
  <div class="solutions_wrap">

    <div class="container-fluid">


      <div class="row">
        <div class="col-12 col-sm-6 border-bottom border-secondary part" *ngFor="let solution of solutions">
          <div class="solutions_title">
            <img *ngIf="solution.imgPage" src="{{solution.imgPage}}" class="card-img-top" alt="...">
            <h2 class="text" *ngIf="solution.name">{{solution.name}}</h2>
          </div>
          <div>
            <h3 class="text_about" *ngIf="solution.description">{{solution.description}}</h3>

            <div class="sfd">
              <a routerLink="/solution1" class="button_wrap">
                <span class="text_about">Подробнее</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right arrow" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1
                  .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </a>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
