<section class="company">
  <div class="company_wrap">
    <div class="part">

      <div class="company_title">
        <h2 class="text">О компании</h2>
      </div>

      <div class="company_container">

        <div class="rectangle_wrap">
          <div id="rectangle">

          </div>

        </div>
        <!--<div class="img_wrap">
          <img class="company_img" src="./assets/img/left.svg" alt="">
        </div>-->
        <div class="about_company">
          <div class="text_wrap">
            <p class="company_text">Наша команда занимается созданием грамотной инфраструктуры больших медицинских данных, экспертной поддержкой по вопросам интеграции со сторонними сервисами, а также заказной разработкой программного обеспечения.</p>
            <p class="company_text">Основа нашего кадрового состава - выдающиеся выпускники лучших технических ВУЗов страны.</p>
            <p class="company_text">Мы готовы помочь Вам в реализации проектов любой сложности.</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
